<div class="container mb-4">
    <h1 class="text-white bg-primary py-2 text-center">Welecome to Dashoard</h1>
    <div class="row">
        <!-- <div class="col-md-4">
            <button class="btn btn-primary"
            
            [routerLink]="['']"
            
            >Main Dashboard</button>

        </div> -->

        <div class="col-md-4 text-center">
            <button mat-raised-button color="primary"
              [routerLink]="['/todo']"
            >ToDo DashBoard</button>
        </div>
        <div class="col-md-4 text-center">
            <button mat-raised-button color="primary"
            
            [routerLink]="['/stud']"
            
            >Student DashBoard</button>

        </div>
       
    </div>

</div>
